body
{
    margin: 0px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('d9afb2f0c922f34cb6ae8ad219f53ca3.gif');
    background-repeat: no-repeat;
    background-size: 100% 800px;
}
#one li:first-child
{
    color: white;
    font-style: italic;
    margin-left: 0;
    text-align: left;
    font-size: 40px;
}
#one
{
    background-color: #81bae080;
    height: 70px;
    font-size: 30px;
    padding: 1px;
}
#one ul
{
    list-style: none;
    margin-top: 7px;
   
}
#one ul li
{
    display: inline;
    margin: 45px;
    text-align: right;
}
.home
{
    color: white;
    padding: 23px;
    background-color: rgba(0,0,0,0.7);
}
span
{
  color: hotpink;
}
a
{
    color: white;
    text-decoration: none;
}
a:hover
{
    color:aqua;
    background-color:rgba(0,0,0,0.7) ;
    cursor: pointer;
    padding: 24px;
}
.search
{
    width: 240px;
    height: 15px;
    margin-top: 0;
    background-color:rgba(0,0,0,0.7) ;
    color: white;
    font-size:  15px;
    border-radius: 20px;
    padding: 10px;
}
.f2
{
  text-align: center;
  font-size: 30px;
  margin-top: 130px;
  margin-left:480px;
  border: 3px white solid;
  border-radius: 60px;
  background-color:rgba(0,0,0,0.8) ;
  border-left: none;
  border-right: none;
  float: left;
  width: 500px;
  height: 400px;
}
h4,p
{
  font-size: 20px;
  color:white;
}
input
{
  width: 400px;
  height: 15px;
  margin-top: 0;
  background-color:#81bae080 ;
  color: white;
  font-size:  15px;
  border-radius: 20px;
  padding: 10px;
}
.lb
{
  background-color:#81bae080;
  padding: 10px;
  width: 100px;
  color: white;
  border-radius: 20px;
}
.su
{
  font-size: 15px;
  color: blue;
}
.su:hover
{
  font-size: 15px;
  color: blue;
  background-color:rgba(0,0,0,0.7) ;
  cursor: pointer;
  padding: 24px;
}
